[Unit]
Description=Socket for uWSGI app %i

[Socket]
ListenStream=/var/run/uwsgi/%i.socket
SocketUser=%i
SocketGroup=uwsgi
SocketMode=0660

[Install]
WantedBy=sockets.target
