[Unit]
Description=__APP__ gunicorn daemon
Requires=__APP__.socket
After=network.target

[Service]
User=__APP__
Group=__APP__
PermissionsStartOnly=true
WorkingDirectory=__INSTALL_DIR__/

Environment="DJANGO_SETTINGS_MODULE=settings"

ExecStart=__INSTALL_DIR__/venv/bin/gunicorn \
    --preload \
    --timeout 3600 \
    --graceful-timeout 3600 \
    --worker-class=gthread \
    --workers=2 \
    --threads=16 \
    --bind unix:/run/__APP__.sock \
    weblate.wsgi:application

Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=inherit
NotifyAccess=all

StandardOutput=append:/var/log/__APP__/__APP__.log
StandardError=inherit

[Install]
WantedBy=multi-user.target