[Unit]
Description=__APP__ uWSGI app
After=syslog.target

[Service]
Type=forking
User=__APP__
Group=__APP__
PermissionsStartOnly=true


# https://www.freedesktop.org/software/systemd/man/systemd.exec.html#RuntimeDirectory=
RuntimeDirectory=__APP__

ExecStartPre=/bin/chown -R __APP__ /var/log/__APP__

ExecStart=/usr/bin/uwsgi \
        --ini /etc/uwsgi/apps-available/__APP__.ini \
        --logto /var/log/__APP__/weblate.log


Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
